<footer class="page-footer small">
  <div class="container-fluid ">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 mt-md-0">
          <h5 class="text-uppercase font-weight-bold">ACERCA DE</h5>
          <p>
            Este sitio web ha sido creado por motivos promocionales. El usuario, al digitar sus datos, autoriza de forma expresa,
            al propietario o cualquier otra persona encargada por este, de acuerdo al Código de Protección y Defensa del Consumidor,
            a contactarlo vía telefónica, correo electrónico o por cualquier otro medio digital. El usuario además acepta que sus
            datos podrán ser usados para alertarlo de proyectos futuros y/o estudios de mercado. En caso de no querer recibir más
            publicidad deberá notificarlo debidamente al domicilio del propietario del sitio web.
          </p>
      </div>
      <div class="col-md-4 mb-md-0">
          <h5 class="text-uppercase font-weight-bold">DESARROLLO WEB</h5>
          <p>Este sitio ha sido creado por el mismo propietario del inmueble, quien es desarrollador de software. La página ha
            sido programada desde cero para funcionar con tecnologías gratuitas pero permitiendo flexiiblidad, lo que hace que su costo
            de alojamiento sea nulo y el de mantenimiento muy bajo. Si usted desea un sitio web de similares características o desea
            contratar los servicios del desarrollador de este sitio, comunicarse por correo electrónico a la siguiente dirección.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://cfoch.github.io/">Fabián Orccón</a>
  </div>  
</footer>
