<div id="app-contact-form">
  <div class="title">
    ¡Déjanos tus datos!
  </div>
  <form>
    <div class="container">
      <div class="row">
        <div class="form-group col">
          <input type="text" class="form-control" id="inputName" placeholder="Nombres">
        </div>
        <div class="form-group col">
          <input type="text" class="form-control" id="inputSurname" placeholder="Apellidos">
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <input type="text" class="form-control" id="inputName" placeholder="DNI">
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <input type="text" class="form-control" id="inputName" placeholder="Teléfono">
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <input type="email" class="form-control" i  d="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje"></textarea>
        </div>
      </div>
      <div class="row button">
        <div class="col">
          <button type="submit" class="btn btn-primary">Solicitar información</button>
        </div>
      </div>
    </div>
  </form>
</div>