@import "./variables.scss";

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

a.nav-link:hover {
  color: $text-color-light !important;
  text-shadow: 0 0 0.5em $text-color-light;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.page-header {
  transition: background 0.5s ease-in-out;
}

.page-header .navbar {
  padding: 1rem 0;
}

.container-fluid-max {
  max-width: 1440px;
}

.page-header.scrolled {
  background-color: $color-primary-dark;

  a { 
    color: $text-color-light;
  }
}

@media screen and (max-width: 991px) {
  .page-header {
    background: $color-primary-dark;
  }
}