$color-primary: #4db6ac;
$color-primary-dark: #00867d;
$color-primary-light: #82e9de;

$color-secondary: #1565c0;
$color-secondary-dark:#003c8f;
$color-secondary-light:#5e92f3;

$text-color-light: #ffffff;
$text-color-dark: #000000;